/uufs/chpc.utah.edu/common/home/lin-group20/CarlXav/XSTILT_Pipeline/Analysis/figures
/uufs/chpc.utah.edu/common/home/lin-group20/CarlXav/XSTILT_Pipeline/Analysis/figures_old
/uufs/chpc.utah.edu/common/home/lin-group20/CarlXav/XSTILT_Pipeline/Analysis/sanity_check_scripts/sanity_check_figures
/uufs/chpc.utah.edu/common/home/lin-group20/CarlXav/XSTILT_Pipeline/Analysis/pdfs
/uufs/chpc.utah.edu/common/home/lin-group20/CarlXav/XSTILT_Pipeline/Analysis/old_scripts